.editor {
    min-width: 66.6%;
}

.icon-delete:before {
    content: "";
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    text-decoration: inherit;
    speak: none;
}

.imagecropper .cropBtnList {
    float: left;
    width: 100px;
    padding-left: 2px;
    margin-left: 4px;
    border-left: 2px solid #f8f8f8;
}

    .imagecropper .cropBtnList li {
        display: block;
    }

        .imagecropper .cropBtnList li.current a, .imagecropper .cropBtnList li.current a:hover {
            text-decoration: none;
            background: #eee;
        }

        .imagecropper .cropBtnList li .crop-name, .imagecropper .cropBtnList li .crop-size {
            display: block;
            font-size: 11px;
            text-align: left;
        }

        .imagecropper .cropBtnList li .crop-size {
            font-size: 10px;
            font-style: italic;
            color: #666;
        }

        .imagecropper .cropBtnList li a {
            display: block;
            padding: 5px;
        }

            .imagecropper .cropBtnList li a:hover {
                text-decoration: none;
                background: #f8f8f8;
            }

                .imagecropper .cropBtnList li a:hover .crop-text {
                    text-decoration: none;
                }

.cropBtnList .crop:hover {
    cursor: pointer;
}

.cropBtnList .crop + div {
    padding: 5px;
}

.cropBtnList .crop .crop-name {
    color: #008cba;
    line-height: 14px;
}

.cropper {
    position: relative;
    padding: 10px;
}

    .cropper img, .cropper-gravity img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .cropper img {
        max-width: initial;
    }

    .cropper .overlay, .cropper-gravity .overlay {
        top: 0;
        left: 0;
        z-index: 6001;
        cursor: move;
    }

    .cropper .viewport {
        position: relative;
        margin: auto;
        overflow: hidden;
    }

.cropper-gravity .viewport {
    position: relative;
    /*width: 400px;
    height: 300px;*/
    overflow: hidden;
}

/*.gravity-container*/
.viewport {
    width: 490px;
    height: 400px;
}

.fullImg .viewport {
    cursor: move;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fullImg .mainImg {
    max-width: 100%;
    max-height: 100%;
    /*width: 100%;
    height: auto;*/
    z-index: 1012;
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

/*.mainImg {
    max-width: 100%;
    max-height: 100%;
}*/

.cropper-gravity .overlay {
    width: 14px;
    height: 14px;
    text-align: center;
    background: #2e8aea;
    border: 3px solid #fff;
    border-radius: 20px;
    opacity: .8;
}

    .cropper-gravity .overlay i {
        font-size: 26px;
        line-height: 26px;
        opacity: .8 !important;
    }

.cropper .crop-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.15);
}

.cropper .crop-slider {
    padding: 10px 50px 10px 50px;
    margin-top: 10px;
    vertical-align: middle;
    border-top: 1px solid #f8f8f8;
}

    .cropper .crop-slider i {
        color: #555;
    }

    .cropper .crop-slider input {
        width: 320px;
        margin-top: 7px;
    }

.cropPnl {
    float: left;
    display: none;
}

    .cropPnl.active {
        display: inline-block;
    }

.cropBtnList {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.btn-crop-delete {
    display: block;
    text-align: left;
}

.imagecropper .cropBtnList.many {
    width: 210px;
}

    .imagecropper .cropBtnList.many li {
        float: left;
        width: 85px;
    }

        .imagecropper .cropBtnList.many li:nth-child(2) {
            padding-top: 0;
            margin-top: 0;
        }

.cropBtnList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .cropBtnList li {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 12px;
        margin: 12px;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        /*-webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;*/
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
        border: 1px solid #d2d2d2;
    }

        .cropBtnList li.crop:hover, .cropBtnList li.crop.active {
            background-color: rgba(255,255,255,.7);
        }

        .cropBtnList li img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            background-image: url(../Images/checkered-background.png);
        }

            .cropBtnList li img.noScale {
                max-width: none !important;
                max-height: none !important;
            }

    .cropBtnList .icon-holder {
        text-align: center;
    }

        .cropBtnList .icon-holder .icon {
            display: block;
            font-size: 40px;
            line-height: 50px;
            color: #555;
        }

/*.cropBtnList .cropBtnList__actions {
        position: absolute;
        right: 10px;
        bottom: 10px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        text-decoration: none;
        opacity: 0;
        visibility: hidden;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }*/

/*.cropBtnList li:hover .cropBtnList__actions {
        opacity: 1;
        visibility: visible;
    }*/

/*.cropBtnList .cropBtnList__action {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 25px;
        height: 25px;
        margin-left: 5px;
        font-size: 16px;
        color: #222;
        background: #fff;
        border-radius: 15px;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .cropBtnList .cropBtnList__action.-red {
            color: #f00;
        }

        .cropBtnList .cropBtnList__action:hover {
            text-decoration: none;
        }*/

.icon-crop:before {
    content: "";
}

.thumbnails > li.thumbnail .icon-crop {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    color: #fff;
}

.thumbnails > li.thumbnail .icon-remove {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: #fff;
}

.image-crop {
    float: left;
    width: 400px;
    padding: 0 0 30px 0;
    margin: 0 30px 25px 0;
}

.crop-preview {
    float: left;
    width: 400px;
}

.image-crop .range {
    display: block;
    float: left;
    width: 82%;
    height: 1px;
    margin: 20px 0 0 0;
    background: #ccc;
    -webkit-appearance: none;
}

    .image-crop .range::-webkit-slider-thumb {
        width: 14px;
        height: 14px;
        margin-top: -1px;
        background: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 2px;
        content: "1";
        -webkit-appearance: none;
    }

.icon-pictures:before {
    content: "";
}

.icon-pictures-alt:before {
    content: "";
}

.icon-pictures-alt-2:before {
    content: "";
}

.icon-picture:before {
    content: "";
}

i.fa-times-circle-o {
    opacity: .3;
    position: absolute;
    top: -22px;
    right: 6px;
    color: #dc143c;
}

    i.fa-times-circle-o:hover {
        opacity: 1;
        cursor: pointer;
    }
