<?xml version="1.0" encoding="utf-8"?>
<SEOChecker version="0">
  <trigger triggerOnPublish="true" />
  <xmlSiteMap enabled="true" excludeUmbracoNaviHide="true" />
  <robotsTxt enabled="true" />
  <urlRewrite forcewwwUrls="False" useTrailingSlashProperty="true" />
  <redirectConfig storeDomain="false" storeQueryString="false" forwardQuerystring="true" redirectWhenNodeExists="false" />
  <documentTypeConfiguration>
    <documentType>
      <documentTypeAlias>Home</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty></documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty></documentDescriptionProperty>
      </documentDescriptionProperties>
      <defaultSocialImageProperties>
        <defaultSocialImageProperty></defaultSocialImageProperty>
      </defaultSocialImageProperties>
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate></openGraphTitleTemplate>
      <twittercardTitleTemplate></twittercardTitleTemplate>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
  </documentTypeConfiguration>
  <permissions>
    <role name="writer" allowed="issues,notifications" />
    <role name="editor" allowed="redirectmanagement,validation,ignorelist,notifications" />
  </permissions>
  <emailConfiguration>
    <email>
      <alias>scheduledtask</alias>
      <fromAddress>jimmy.fifth@fifthlabs.com</fromAddress>
      <fromName>SEO Checker</fromName>
      <subject>Scheduled validation finished</subject>
      <xslt>scheduledtask-mail.cshtml</xslt>
    </email>
    <email>
      <alias>notification</alias>
      <fromAddress>jimmy.fifth@fifthlabs.com</fromAddress>
      <fromName>SEO Checker</fromName>
      <subject>SEO issue report</subject>
      <xslt>notification-mail.cshtml</xslt>
    </email>
  </emailConfiguration>
  <rootNodeSettings>
    <rootNode>
      <nodeId>1048</nodeId>
      <canonicalDomain>dev.mywindowofopportunity.com</canonicalDomain>
      <robotsTxt><![CDATA[Sitemap: {HTTP_SCHEME}://{HTTP_HOST}/sitemap.xml
User-Agent: *
Allow: DependencyHandler.axd
Disallow: /aspnet_client/
Disallow: /bin/
Disallow: /config/
Disallow: /umbraco/
Disallow: /umbraco_client/
Disallow: /usercontrols/
Disallow: /*.axd]]></robotsTxt>
      <languages>
        <language isoCode="en-US" nodeId="1048" />
      </languages>
    </rootNode>
  </rootNodeSettings>
  <validationConfig validateAltAttributesOnTemplate="false" metaDescriptionMaxLength="160" />
  <socialConfig>
    <enableFacebook>false</enableFacebook>
    <faceBookAppId></faceBookAppId>
    <enableTwitter>false</enableTwitter>
    <twitterAccount></twitterAccount>
  </socialConfig>
</SEOChecker>